<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tra cứu điểm sinh viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<img src="https://sinhvien.hufi.edu.vn/Content/AConfig/images/sv_logo_dashboard.png" />
<body>
    @*Header*@
    <div>
        <nav class="navbar navbar-expand-sm bg-light row">
            <div class="col-9">
                <div class="row">
                    <a class="navbar-brand text-dark col-2 " href="/Home/Product">Tra cứu điểm sinh viên</a>
                    <ul class="navbar-nav col">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Product">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/GioiThieu">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/LienHe">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
        <style>
            .footer {
                text-align: center;
                color: white;
                position: relative;
                bottom: 0;
                width: 100%;
                background-color: #343a40 !important;
                display: block;
                clear: both;
            }
        </style>
        <footer class="footer">
            <span><img src="https://blogger.googleusercontent.com/img/a/AVvXsEjf4RQocVaw5nQ4k3vWzos4IHxoFtiC9CKszegeWIPplOOFedw8qAWedrrpVDst4ZdN0QWPKKJmTWrW9tc0vgb4HIpYYuLwLQTpaBj-Jc5123yOH1n8DjPFbgoq1k2r7hLDKVjsU9n-8oewLi3oqB8WZ40bnM-C_k9BfJoMguwI9RSQGYoO6yRYDTlr=s16000" width="100%" height="350px"  /></span>
        </footer>
    </div>

</body>

</html>
