USE [quanlydiem]
GO
/****** Object:  Table [dbo].[BACDAOTAO]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BACDAOTAO](
	[MABACDAOTAO] [varchar](10) NOT NULL,
	[TENBACDAOTAO] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACDAOTAO] PRIMARY KEY CLUSTERED 
(
	[MABACDAOTAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIEM](
	[MASV] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[DIEMTL] [float] NULL,
	[DIEMGK] [float] NULL,
	[DIEMKT1] [float] NULL,
	[DIEMKT2] [float] NULL,
	[MAHOCKY] [int] NULL,
 CONSTRAINT [PK_DIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MAHOCKY] [int] IDENTITY(1,1) NOT NULL,
	[MANIENKHOA] [int] NULL,
	[HK] [varchar](20) NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[MAHOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHINHDAOTAO]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIHINHDAOTAO](
	[MALOAIHINHDAOTAO] [varchar](10) NOT NULL,
	[TENLOAIHINHDAOTAO] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIHINHDAOTAO] PRIMARY KEY CLUSTERED 
(
	[MALOAIHINHDAOTAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGANH](
	[MANGANH] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[TENNGANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGANH] PRIMARY KEY CLUSTERED 
(
	[MANGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NIENKHOA]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NIENKHOA](
	[MANIENKHOA] [int] IDENTITY(1,1) NOT NULL,
	[NAMBATDAU] [int] NULL,
	[NAMKETTHUC] [int] NULL,
 CONSTRAINT [PK_NIENKHOA] PRIMARY KEY CLUSTERED 
(
	[MANIENKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12-12-2021 8:58:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](10) NOT NULL,
	[MANGANH] [varchar](10) NOT NULL,
	[MALOP] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGSINH] [date] NULL,
	[GTINH] [nvarchar](3) NULL,
	[NOISINH] [nvarchar](50) NULL,
	[MABACDAOTAO] [varchar](10) NOT NULL,
	[MALOAIHINHDAOTAO] [varchar](10) NOT NULL,
	[MANIENKHOA] [int] NOT NULL,
	[HINH] [varchar](100) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BACDAOTAO] ([MABACDAOTAO], [TENBACDAOTAO]) VALUES (N'CD', N'Cao đẳng')
INSERT [dbo].[BACDAOTAO] ([MABACDAOTAO], [TENBACDAOTAO]) VALUES (N'DH', N'Đại học')
INSERT [dbo].[BACDAOTAO] ([MABACDAOTAO], [TENBACDAOTAO]) VALUES (N'DHLT', N'Đại học liên thông')
INSERT [dbo].[DIEM] ([MASV], [MAMH], [DIEMTL], [DIEMGK], [DIEMKT1], [DIEMKT2], [MAHOCKY]) VALUES (N'2001180002', N'0101000094', NULL, NULL, 6.3, NULL, 1)
INSERT [dbo].[DIEM] ([MASV], [MAMH], [DIEMTL], [DIEMGK], [DIEMKT1], [DIEMKT2], [MAHOCKY]) VALUES (N'2001180002', N'0101003472', 9, NULL, 6, NULL, 1)
INSERT [dbo].[DIEM] ([MASV], [MAMH], [DIEMTL], [DIEMGK], [DIEMKT1], [DIEMKT2], [MAHOCKY]) VALUES (N'2001180002', N'0101003473', NULL, NULL, 10, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[HOCKY] ON 

INSERT [dbo].[HOCKY] ([MAHOCKY], [MANIENKHOA], [HK]) VALUES (1, 1, N'HK1(2018-2019)')
INSERT [dbo].[HOCKY] ([MAHOCKY], [MANIENKHOA], [HK]) VALUES (2, 1, N'HK2(2018-2019)')
INSERT [dbo].[HOCKY] ([MAHOCKY], [MANIENKHOA], [HK]) VALUES (3, 1, N'HK1(2019-2020)')
SET IDENTITY_INSERT [dbo].[HOCKY] OFF
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'CNTT', N'Công nghệ thông tin')
INSERT [dbo].[KHOA] ([MAKH], [TENKH]) VALUES (N'DDT', N'Công nghệ Điện - Điện tử')
INSERT [dbo].[LOAIHINHDAOTAO] ([MALOAIHINHDAOTAO], [TENLOAIHINHDAOTAO]) VALUES (N'CQ', N'Chính quy')
INSERT [dbo].[LOAIHINHDAOTAO] ([MALOAIHINHDAOTAO], [TENLOAIHINHDAOTAO]) VALUES (N'VHVL', N'Vừa học vừa làm')
INSERT [dbo].[LOP] ([MALOP], [MAKH]) VALUES (N'09DHTH1', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [MAKH]) VALUES (N'09DHTH2', N'CNTT')
INSERT [dbo].[LOP] ([MALOP], [MAKH]) VALUES (N'09DHTH3', N'CNTT')
INSERT [dbo].[MONHOC] ([MAMH], [MALOP], [TENMH], [SOTC]) VALUES (N'0101000002', N'09DHTH8', N'Công Nghệ Java', 3)
INSERT [dbo].[MONHOC] ([MAMH], [MALOP], [TENMH], [SOTC]) VALUES (N'0101000094', N'09DHTH8', N'Anh văn A1', 3)
INSERT [dbo].[MONHOC] ([MAMH], [MALOP], [TENMH], [SOTC]) VALUES (N'0101000420', N'09DHTH8', N'Cấu trúc dữ liệu và giải thuật', 2)
INSERT [dbo].[NGANH] ([MANGANH], [MAKH], [TENNGANH]) VALUES (N'7480102', N'CNTT', N'Mạng máy tính')
INSERT [dbo].[NGANH] ([MANGANH], [MAKH], [TENNGANH]) VALUES (N'7480103', N'CNTT', N'Công nghệ phần mềm')
INSERT [dbo].[NGANH] ([MANGANH], [MAKH], [TENNGANH]) VALUES (N'7480104', N'CNTT', N'Hệ thống thông tin')
SET IDENTITY_INSERT [dbo].[NIENKHOA] ON 

INSERT [dbo].[NIENKHOA] ([MANIENKHOA], [NAMBATDAU], [NAMKETTHUC]) VALUES (1, 2018, 2022)
INSERT [dbo].[NIENKHOA] ([MANIENKHOA], [NAMBATDAU], [NAMKETTHUC]) VALUES (2, 2019, 2023)
INSERT [dbo].[NIENKHOA] ([MANIENKHOA], [NAMBATDAU], [NAMKETTHUC]) VALUES (3, 2020, 2024)
SET IDENTITY_INSERT [dbo].[NIENKHOA] OFF
INSERT [dbo].[SINHVIEN] ([MASV], [MANGANH], [MALOP], [HOTEN], [NGSINH], [GTINH], [NOISINH], [MABACDAOTAO], [MALOAIHINHDAOTAO], [MANIENKHOA], [HINH]) VALUES (N'2001180002', N'7480109', N'09DHTH8', N'Trương Hồng Phi', CAST(N'2000-09-06' AS Date), N'Nam', N'Tỉnh Bến Tre', N'DH', N'CQ', 1, N'hongphi.jpg')
INSERT [dbo].[SINHVIEN] ([MASV], [MANGANH], [MALOP], [HOTEN], [NGSINH], [GTINH], [NOISINH], [MABACDAOTAO], [MALOAIHINHDAOTAO], [MANIENKHOA], [HINH]) VALUES (N'2001180066', N'7480103', N'09DHTH4', N'Võ Tấn Đức', CAST(N'2000-08-23' AS Date), N'Nam', N'TP. Hồ Chí Minh', N'DH', N'CQ', 1, N'logo.jpg')
INSERT [dbo].[SINHVIEN] ([MASV], [MANGANH], [MALOP], [HOTEN], [NGSINH], [GTINH], [NOISINH], [MABACDAOTAO], [MALOAIHINHDAOTAO], [MANIENKHOA], [HINH]) VALUES (N'2001180106', N'7480109', N'09DHTH8', N'Châu Trần Minh Phương', CAST(N'2000-01-04' AS Date), N'Nam', N'TP. Hồ Chí Minh', N'DH', N'CQ', 1, N'logo.jpg')
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_HOCKY] FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHOCKY])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_HOCKY]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_MONHOC]
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DIEM] CHECK CONSTRAINT [FK_DIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[HOCKY]  WITH CHECK ADD  CONSTRAINT [FK_HOCKY_NIENKHOA] FOREIGN KEY([MANIENKHOA])
REFERENCES [dbo].[NIENKHOA] ([MANIENKHOA])
GO
ALTER TABLE [dbo].[HOCKY] CHECK CONSTRAINT [FK_HOCKY_NIENKHOA]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_LOP]
GO
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD  CONSTRAINT [FK_NGANH_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
GO
ALTER TABLE [dbo].[NGANH] CHECK CONSTRAINT [FK_NGANH_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_DAOTAO_SINHVIEN] FOREIGN KEY([MABACDAOTAO])
REFERENCES [dbo].[BACDAOTAO] ([MABACDAOTAO])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_DAOTAO_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_LOAIDT_SINHVIEN] FOREIGN KEY([MALOAIHINHDAOTAO])
REFERENCES [dbo].[LOAIHINHDAOTAO] ([MALOAIHINHDAOTAO])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_LOAIDT_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NIENKHOA_SINHVIEN] FOREIGN KEY([MANIENKHOA])
REFERENCES [dbo].[NIENKHOA] ([MANIENKHOA])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_NIENKHOA_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_NGANH] FOREIGN KEY([MANGANH])
REFERENCES [dbo].[NGANH] ([MANGANH])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_NGANH]
GO
