@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <div style="width:80%">
<h2>Tra cứu kết quả học tập bằng ảnh sinh viên</h2>
<div style="text-align:left;font-size:20px">
    <span>Trong những năm gần đây, các hệ thống sinh trắc học như nhận dạng vân tay (Fingerprint recognition) 
    hay nhận dạng mống mắt (Iris recognition) đã được áp dụng rộng rãi trong cuộc sống, với độ tin cậy cao.
     Một ví dụ cụ thể là từ năm 2011, Google đã áp dụng Hệ thống xác minh mống mắt để kiểm soát truy cập tại các trung tâm dữ liệu của tập đoàn này. 
    Nhận dạng khuôn mặt (Face Recognition) là một hướng nghiên cứu quan trọng của ngành sinh trắc học (Biometrics) và Thị giác máy tính (Computer Vision). 
        Cho đến nay vẫn còn nhiều thách thức và vấn đề cần giải quyết trong bài toán Nhận dạng khuôn mặt, làm hạn chế khả năng triển khai của hệ thống Nhận dạng mặt người trong thực tế. Vì vậy, lĩnh vực nghiên cứu Nhận dạng mặt người vẫn đang nhận được sự quan tâm lớn của các nhà khoa học.</span>
</div>
<div style="text-align: center; width: 100%;margin-bottom:10px;margin-top:10px">
    <center>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/images/Banner/ComputerVision.png" width="1200px" height="700px" class="d-block w-80" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/Banner/facedetect.jpg" width="1200px" height="700px" class="d-block w-80" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/Banner/Irisrecognition.jpg" width="1200px" height="700px" class="d-block w-80" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
        </center>
</div>
    <div>
        <h3>Vậy tra cứu kết quả học tập bằng ảnh sinh viên là gì? Nó hoạt động ra sao?</h3>
        <ul style="font-size:20px;list-style:none">
            <li>Tra cứu kết quả học tập bằng ảnh sinh viên là một đề tài nhóm chúng tôi đang nghiên cứu. 
                Nhằm giúp sinh viên định danh dễ dàng hơn trong việc tra cứu, không cần phải nhớ các chuỗi mật khẩu dài ngoằn. 
                Bạn chỉ cần một tấm ảnh có mặt của bản thân là có thể xem được kết quả học tập, quá dễ dàng đúng không nào?</li>
            <li>Về cách hoạt động của trang web tra cứu, khi bạn upload một tấm hình và xác nhận thì hệ thống của chúng tôi sẽ tiến hành nhận diện gương mặt của bạn.
                và trả về kết quả học tập của bạn. Quá trình này chỉ tốn chưa đến một phút là bạn đã có thể xem được kết quả, quá tuyệt với phải không nào?
            </li>
        </ul>
    </div>
        </div>
</center>
